<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POIT2023</title>
    <style type="text/css">           
    </style>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/plotly-latest.min.js"></script>

  <script>
   $(document).ready(function(){
    
        
    var graphdata = {{ data|tojson }};
    var x = graphdata[0];
    var y1 = graphdata[1];
    var y2 = graphdata[2];
    var y3 = graphdata[3];
    var trace1;
    var trace2;
    var trace3;
    var layout1;
    var layout2;
    var layout3;
    
    
    layout1 = {
          title: 'Teplota',
          xaxis: {
              title: 'cas (unix)',
          },
          yaxis: {
              title: 'teplota',
              //range: [-1,1]
          }
        };
        layout2 = {
          title: 'Vlhkost',
          xaxis: {
              title: 'cas (unix)',
          },
          yaxis: {
              title: 'vlhkost',
              //range: [-1,1]
          }
        };
        layout3 = {
          title: 'Intenzita svetla',
          xaxis: {
              title: 'cas (unix)',
          },
          yaxis: {
              title: 'svetlo',
              //range: [-1,1]
          }
        };
        
        trace1 = {
            x: x,
            y: y1,
            name: 'teplota'
        };  
        trace2 = {
            x: x,
            y: y2,
            name: 'vlhkost'
        };    
        trace3 = {
            x: x,
            y: y3,
            name: 'svetlo'
        };       
        Plotly.newPlot($('#plotdiv1')[0], [trace1], layout1);
        Plotly.newPlot($('#plotdiv2')[0], [trace2], layout2);
        Plotly.newPlot($('#plotdiv3')[0], [trace3], layout3);
    
    
    
        
    
    
   });   

  </script>
</head>
<body>
 
    <div id="plotdiv1" style="width:600px;height:600px;"></div>
    <div id="plotdiv2" style="width:600px;height:600px;"></div>
    <div id="plotdiv3" style="width:600px;height:600px;"></div>
      
</body>
</html> 
